.banner{
    height: 600px;
    background-color: white;
}
.banner img{
    width: auto;
    object-fit: cover;
    height: 600px;
    float: right;
}
.banner article{
    width: 400px;
    margin-bottom: 20px;
    font-size: 2rem;
}
.join-btn button:hover{
    color: white;
    background-image: linear-gradient(to right,#364AD4,#8B35D4);
    letter-spacing: 2px;
}
.join-btn button{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #364AD4;
    cursor: pointer;
    transition: all ease .5s;
    color: white;
}
@media (max-width:700px) {

    
}