.banner{
    background-color: white;
}
.banner img{
    object-fit: cover;
    width: 100%;
    height: 500px;
    float: right;
}
.border-col{
    /* border: 1px solid black; */
    /* background-color: blue; */
    

}
@media (max-width:770px) {
    
}
.banner-btn{
    padding-top: 150px;

}
.banner article{
    width: 400px;
    margin-bottom: 20px;
    font-size: 2rem;
}
.join-btn button:hover{
    color: white;
    background-image: linear-gradient(to right,#364AD4,#8B35D4);
    letter-spacing: 2px;
}
.join-btn button{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #364AD4;
    cursor: pointer;
    transition: all ease .5s;
    color: white;
}
@media (max-width:700px) {

    
}